<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxmp.racingcms.mapper.RMatchTypeMapper">
  <resultMap id="BaseResultMap" type="com.wxmp.racingcms.domain.RMatchType">
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="match_name" jdbcType="VARCHAR" property="matchName" />
    <result column="match_type" jdbcType="INTEGER" property="matchType" />
    <result column="muti_amount" jdbcType="DOUBLE" property="mutiAmount" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <insert id="insert" parameterType="com.wxmp.racingcms.domain.RMatchType">
    insert into r_match_type (uuid, is_del, creater, 
      updater, create_time, update_time, 
      match_name, match_type, muti_amount, 
      remark)
    values (#{uuid,jdbcType=VARCHAR}, #{isDel,jdbcType=INTEGER}, #{creater,jdbcType=VARCHAR}, 
      #{updater,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, 
      #{matchName,jdbcType=VARCHAR}, #{matchType,jdbcType=INTEGER}, #{mutiAmount,jdbcType=DOUBLE}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select uuid, is_del, creater, updater, create_time, update_time, match_name, match_type, 
    muti_amount, remark
    from r_match_type
  </select>
</mapper>